{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content  %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  
    <br>
<div class="container-fluid p-3 bg-primary text-white text-center">
  <h1>STACON LEAGUE </h1>
  <h2>SEASON IV</h2> 
</div>

<br>
    <h3 style="color:blue;font-size:26px;font-family: cursive;text-align-last: center;">Statistics for season iv games !!</h3>

<div class="row" id="services">
    <div class="col">
        <div class="col-md">
            <div class="container" >            
                <div class = "col-md-12 text-left">
                     <h3 style="color:red;font-size:26px;font-family: cursive;text-align-last: center;">Table Standings Summary</h3>
                    <div class="card card-body">
                          <a class="btn btn-primary btn-block" href="{% url 'point_create' %}"> Add New Result Details</a><p></p>
                      <table class="table table-bordered table-sm table-striped border-primary table-hover">  
                                <th>Position</th>
                                <th>Team</th>
                                <th style="font-size:16px;font-family: cursive;text-align-last: center;">Points</th>
                                <!-- <th>Update</th>
                                <th>More</th> -->

                                
                            
                            {% for x in table %}
                            <tr>
                                <td style="color:blue;font-size:16px;font-family: cursive;text-align-last: left;">{{ forloop.counter }}</td>
                                <td>{{ x.name }}</td>
                                <td style="color:red;font-size:16px;font-family: cursive;text-align-last: center;">{{x.total_points}}</td>               
                                
                                <!-- <td><a class="btn btn-sm btn-info" href="#">Update</a></td>
                                <td><a class="btn btn-sm btn-info" href="#">View</a></td> -->
                                
                            </tr>
                            {% endfor %}   
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="col">
        <div class="col-md">
            <div class="container" >            
                <div class = "col-md-12 text-center">
                     <h3 style="color:red;font-size:26px;font-family: cursive;text-align-last: center;">Table Standings Detailed</h3>
                    <div class="card card-body">
                    <a class="btn btn-primary btn-block" href="{% url 'point_create' %}"> Enter new Record</a><p></p>
                      <table class="table table-bordered table-sm table-striped border-primary table-hover">  
                                <th>POSITION</th>
                                <th>TEAM</th>
                                
                                <th>GP</th>
                                <th>W</th>
                                <th>D</th>
                                <th>L</th>
                                <th>GF</th>
                                <th>GA</th>
                                <th>GD</th>
                                <th>POINTS</th>
                                <!-- <th>Update</th>
                                <th>More</th> -->
                                
                            
                            {% for x in table_standing %}
                            <tr>
                                <td style="color:blue;font-size:16px;font-family: cursive;text-align-last: left;">{{ forloop.counter }}</td>
                                <td>{{ x.team_name }}</td>
                                <td>{{ x.matches_played }}</td>
                                <td>{{ x.matches_won }}</td> 
                                <td>{{ x.matches_drawn }}</td>
                                <td>{{ x.matches_lost }}</td>
                                <td>{{ x.goals_for }}</td>
                                <td>{{ x.goals_against }}</td>
                                <td>{{ x.goal_difference }}</td>
                                <td style="color:red;font-size:16px;font-family: cursive;text-align-last: center;">{{ x.points }}</td>
                                
                                <!-- <td style="color:red;font-size:20px;font-family: cursive;text-align-last: center;">{{x.total_points}}</td>                -->
                                
                                <!-- <td><a class="btn btn-sm btn-info" href="#">Update</a></td>
                                <td><a class="btn btn-sm btn-info" href="#">View</a></td>
                                 -->
                            </tr>
                            {% endfor %}   
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>        
<br>

<div class="container-fluid" >            
                <div class = "col-md-12 text-left">
                     <h3 style="color:red;font-size:26px;font-family: cursive;text-align-last: center;">Summary of the matches !!</h3>
                    <div class="card card-body">
                          <a class="btn btn-primary btn-block" href="{% url 'point_create' %}"> Add Match summary</a><p></p>
                      <table class="table table-bordered table-sm table-striped border-primary table-hover">  
                                <!-- <th>Match No.</th> -->
                                <th>Date</th>
                                <th style="text-align-last: center;">Match Details</th>
                                <th>Team</th>
                                <th>Points Earned</th>

                                
                            
                            {% for x in points %}
                            <tr>
                                <!-- <td style="color:blue;font-size:20px;font-family: cursive;text-align-last: left;">{{ forloop.counter }}</td> -->
                                <td>{{ x.date }}</td>
                                <td style="color:blue;font-size:20px;font-family: cursive;text-align-last: center;">{{x.match_detail}}</td>               
                                <td>{{ x.team }}</td>
                                <td>{{ x.points_got }}</td>
                                
                            </tr>
                            {% endfor %}   
                            
                        </table>
                    </div>
                </div>
            </div>
{% endblock content %}